.rules-wrapper {
  padding: 5px;
  background-color: white;
}

.rules-wrapper .title {
  display: flex;
  align-items: center;
  padding: 5px;
}

.rules-wrapper .title p {
  font-weight: 700;
}

.rules-wrapper .point {
  border-bottom: 1px solid rgb(216, 216, 216);
  padding: 10px 5px;
}

.rules-wrapper .point p {
  font-size: 14px;
  font-weight: 300;
}
